@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the record management portal for TheRideYouRent. Use the navigation bar above or cards below to view records</p>
</div>
